<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlmac.lyonsden2_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lyons_icon"
        android:label="@string/app_name"
        android:name=".LyonsDen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Login/Sign Up" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Home" />
        <activity
            android:name=".CalendarActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Calendar" />
        <activity
            android:name=".lyonsLists.ClubList"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Clubs" />
        <activity
            android:name=".lyonsLists.EventList"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Announcements" />
        <activity
            android:name=".ContactActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Contact" />
        <activity
            android:name=".contactActivities.AnnouncementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Propose Announcement" />
        <activity
            android:name=".lyonsLists.ListViewerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Teachers" />
        <activity
            android:name=".resourceActivities.InfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Information" />
        <activity
            android:name=".contactActivities.MusicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Music" />
        <activity
            android:name=".resourceActivities.ClubActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Club"  />
        <activity
            android:name=".UserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="User"  />
        <activity
            android:name=".resourceActivities.CourseActvity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Course" />
        <activity
            android:name=".resourceActivities.InformationFormActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Information Form" />
        <activity
            android:name=".resourceActivities.TextViewerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Text Viewer" />
        <activity
            android:name=".resourceActivities.GuideActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Guide" />

        <service
            android:name=".otherClasses.WebCalendar"
            android:exported="false" />
    </application>
</manifest>